<div id="one">
<div class="col-md-4">
  <strong>User:</strong>
  <%= current_user.email %><br>
<strong>Your Friends:</strong>
<ul>
  <% @user.friendships.each do |friendship| %>
  
     <li> <%=h friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>
<br>



<p><strong>Users who befriended You:</strong></p>
  <ul>
    <% for user in @user.inverse_friendships %>
      <li><%=h user.user_email %></li>
    <% end %>
  </ul><br>
  <%= link_to "Find users to friend", users_path %>

</div><br>
</div>
<div id="two">
<div class="col-md-8">
  <strong>Your messages:</strong>
  <% @messages.each do |message| %>
    
        <li><%= message.content %></li>

    <% end %>

</div> 
</div>
